.homeContainer {
  position: relative;
  padding-top: 0.9px;
  padding-left: 4.375rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-main);
  /* font-family: "Roboto"; */
}

.text {
  margin-left: 0.75rem;
}
.text span {
  color: #b2aca2;
}
.page-number {
  margin-left: 0.5rem;
}

.page-heading {
  margin-left: 1rem;
  font-size: 1.4rem;
}
.btn_1 {
  display: flex;
  justify-content: center;
}
.video_grid {
  gap: 1rem;
  display: flex;
  gap: 1em;
  padding: 1em;
}

.btn_1 a {
  margin-top: -1rem;
  text-decoration: none;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  background-color: #ffff;
  color: #000;
}
.btn_1 a:hover {
  background-color: #ffff;
  transition: all 0.2s linear;
  color: #000;
}

.fx {
  display: flex;
  justify-content: center;
  align-items: center;
}
